.body {
  font-family: 'Arial', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main, .search form, .search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  padding: 20px;
}

.search p a {
  color: #1a0dab;
  text-decoration: none;
  padding-left: 5px;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top {
  border-bottom: 1px solid #dadce0;
}

.top, .down {
  width: 100%;
  background-color: #F2F2F2;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
}

a {
  padding-right: 15px;
}

a svg {
  width: 20px;
  height: 20px;
  fill: #70757a;
}

div a:last-child {
  padding-right: 0;
}

a {
  text-decoration: none;
  color: #70757a;
}

.down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top div, .down div, .nav div {
    padding: 10px 15px;
}

.nav div {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.google-services {
  width: 25px;
  height: 25px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

input {
  width: 40vw;
  padding: 15px 45px;
  border: 1px solid #dadce0;
  border-radius: 25px;
}

input:active, input:focus, input:hover {
  outline: none;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 15px;
}

.search-icon svg {
  width: 20px;
  height: 20px;
  fill: #70757a;
}

.controls {
  position: absolute;
  right: 15px;
  top: 12px;
}

.controls svg {
  padding: 0 5px;
}

.controls svg {
  width: 25px;
  height: 25px;
}

form div {
  position: relative;
}

button[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.buttons {
  padding-top: 18px;
}

@media only screen and (max-width: 480px) {
  .down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  } 
}

